$left: 104px;

.components_badge_create_badge_step {
  border-bottom: solid 1px #e6e6e6;

  .create_badge_step_content {
    padding: 25px 45px;
    padding-left: $left;
    display: flex;
    align-items: center;
    position: relative;
    background: transparent;
    font: inherit;
    width: 100%;
  }

  .create_badge_step_content_open {
    padding-bottom: 12px;
  }

  .create_badge_step_title {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.8;
    color: #aba49c;
  }

  .create_badge_step_selected {
    color: #301f77;
  }

  .create_badge_step_icon_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47px;
  }

  .create_badge_step_icon {
    height: 33px;
    width: 33px;
    color: #d4d4d4;
  }

  .create_badge_step_icon_open {
    color: #fc5e2d;
  }

  .create_badge_step_icon_done {
    color: #0196ba;
  }

  .create_badge_step_children_container {
    padding-left: $left;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }
  .create_badge_step_subtitle {
    opacity: 0.9;
    font-size: 18px;
    line-height: 1.33;
    color: #2d2a26;
  }

  .create_badge_step_edit_container {
    position: absolute;
    right: 59px;
    top: 0;
    bottom: 0;
  }

  .create_badge_step_edit {
    color: #34257a;
    height: 24px;
    widows: 24px;
    cursor: pointer;
    &:hover {
      color: #fc5e2d;
    }
  }

  .create_badge_step_icon_container_open {
    bottom: -13px;
  }
}
