$width: 280px;

.components_badge_create_badge_icons_carousel {
  overflow: hidden;
  width: $width;
  .create_badge_icons_container {
    display: flex;
    flex-wrap: wrap;
    width: $width;
  }
  .slide {
    background-color: #fff;
  }
  .badge_model_icons {
    margin-top: 23px;
    margin-right: 14px;
  }

  .create_badge_icons_arrow_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 23px;
  }

  .create_badge_icons_arrow {
    width: 68.9px;
    height: 31.5px;
    border-radius: 22.5px;
    border: solid 1px #022459;
    cursor: pointer;
    position: relative;
    &:disabled {
      &::before {
        position: absolute;
        content: '';
        background: rgba(255, 255, 255, 0.5);
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border-radius: 22.5px;
        z-index: 1;
      }
    }
  }
  .img_arrow_right {
    transform: rotate(180deg);
  }
}
