.components_badge_edit_model_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .edit_model_text_slider {
    margin-top: 15px;
  }

  .edit_model_text_slider_label {
    padding-top: 3px;
    margin-right: 5px;
  }
  .edit_model_text_sliders_container {
    margin-top: 33px;
  }
}
