.components_inputs_badge_model_input {
  width: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
  .badge_model_input_svg_container {
    width: 520px;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
  }

  .badge_model_input_change_container {
    flex: 1 1 0%;
    border-left: 1px solid #c3beb8;
    padding: 20px 40px;
  }

  .badge_model_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
    color: #301f77;
  }

  .badge_model_button {
    border-radius: 40px;
    border: solid 1px #301f77 !important;
    background-color: #ffffff !important;
    color: #301f77 !important;
    text-transform: none !important;
    margin-top: 17px;
    font-size: 18px !important;
    line-height: 1.33;
    padding: 10px 38px;
  }
  .badge_model_colors_title {
    margin-top: 44px;
  }

  .badge_model_icons_title {
    margin-top: 53px;
  }

  .badge_model_colors {
    display: flex;
    width: 280px;
    flex-wrap: wrap;
  }

  .badge_model_color {
    height: 57px;
    width: 57px;
    border: solid 1px #818181;
    margin-top: 17px;
    margin-right: 7px;
    border-radius: 4px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }
}
