.components_inputs_select {
  width: 100%;

  .select_input {
    border-color: #9a9a9a !important;
    width: 100%;
    border-radius: 4px;
    color: #2d2a26 !important;
    .select_input_menu {
      font-size: 18px;
      line-height: 1.33;
      box-sizing: border-box;
      height: auto;
      padding: 12px 16px;
    }
    .select_input_icon {
      color: #000;
      font-size: 28px;
      top: calc(50% - 14px) !important;
    }
  }
}
