$margin: 8px;
.components_inputs_tags_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  .tags_input_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    padding: 12px - $margin 16px - $margin;

    .tags_input_border {
      position: absolute;
      top: -1px;
      bottom: -1px;
      right: -1px;
      left: -1px;
      border: 1px solid #9a9a9a;
      border-radius: 4px;
      transition: border-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, border-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      z-index: -1;
    }

    &:hover .tags_input_border {
      border-color: #212121;
    }

    .tags_input_border_focused {
      border-color: #3f51b5 !important;
      border-width: 2px;
    }

    .tags_input_input {
      height: 32px;
      margin: $margin;
      padding: 0;
      flex: 1 1 0%;
      min-width: 25%;
      input {
        border: none;
        font-size: 16px;
        width: 100%;
        height: 100%;
      }
    }

    .tags_input_tag {
      margin: $margin;
      background-color: #301f77 !important;
      color: #fff !important;
      height: 28px !important;
      border-radius: 14px !important;
      font-size: 16px !important;
      text-transform: capitalize;
      font-family: como;
    }

    .tags_input_delete {
      color: #fff !important;
      width: 18px;
      height: 18px;
      margin-left: 12px !important;
      margin-right: 6px !important;
    }

    .tags_input_border_error {
      border-color: #f44336 !important;
    }
  }
}
