.components_inputs_text_input {
  width: 100%;

  .text_input_input {
    border-color: #9a9a9a !important;
    width: 100%;
    border-radius: 4px;
    color: #2d2a26 !important;
    input {
      font-size: 18px;
      line-height: 1.33;
      box-sizing: border-box;
      height: auto;
      padding: 12px 16px;
    }
  }
}

