.components_inputs_ynq_input {
  display: flex;
  flex-direction: column;
  width: 100%;
  .ynq_input_choices {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .ynq_input_choice {
    border: solid 1px #abaaa8;
    background: transparent;
    color: #abaaa8;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    padding: 12px 29px;
    border-radius: 22.5px;
    &:last-child {
      margin-left: 6px;
    }
    &:disabled {
      border: solid 1px #022459;
      color: #022459;
    }
  }
  input {
    display: none !important;
  }
}
