.container_notif_panel {
  width: 300px;
  border: 1px solid #b3dee7;
  border-radius: 5px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .container_notif_panel_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    span {
      font-family: como;
      padding-left: 15px;
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.96;
      letter-spacing: normal;
      text-align: start;
      color: #301f77;
    }
    hr {
      width: 100%;
      border-top: 0px solid #b3dee6;
    }
  }
  .container_notif_panel_notif_body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px 15px 15px;
    .container_notif_panel_notif_body_user {
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #2f1f77;
      font-weight: 600;
      text-transform: capitalize;
      font-family: como;
    }
    .containernotif_panel_notif_body_demande {
      color: #6b645a;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-size: 12px;
      font-family: como;
    }
    .containernotif_panel_notif_body_date {
      color: #c6c4c1;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-family: como;
    }
    hr {
      width: 100%;
      border-top: 0px solid #000000;
    }
  }
  .container_notif_panel_notif_body_blue {
    background-color: #edf2fa;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 15px 15px 15px;
    .container_notif_panel_notif_body_user {
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #2f1f77;
      font-weight: 600;
      text-transform: capitalize;
      font-family: como;
    }
    .containernotif_panel_notif_body_demande {
      color: #6b645a;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-size: 12px;
      font-family: como;
    }
    .containernotif_panel_notif_body_date {
      color: #c6c4c1;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      font-weight: 600;
      font-family: como;
    }
    hr {
      width: 100%;
      border-top: 0px solid #000000;
    }
  }
}
