body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  font-family: como;
}

* {
  flex: 0 0 auto;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute_fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fixed_fill {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button {
  border: none;
  cursor: pointer;
}

button,
input {
  &:focus {
    outline: none;
  }
}

@for $i from 1 through 100 {
  .width_#{$i} {
    width: $i * 1%;
  }

  .height_#{$i} {
    height: $i * 1%;
  }

  .width_vw_#{$i} {
    width: $i * 1vw;
  }

  .height_vh_#{$i} {
    height: $i * 1vh;
  }
}

@for $i from 1 through 50 {
  .padding_#{$i} {
    padding: $i * 1px;
  }

  .padding_h_#{$i} {
    padding-left: $i * 1px;
    padding-right: $i * 1px;
  }

  .padding_v_#{$i} {
    padding-top: $i * 1px;
    padding-bottom: $i * 1px;
  }

  .margin_#{$i} {
    margin: $i * 1px;
  }

  .margin_h_#{$i} {
    margin-left: $i * 1px;
    margin-right: $i * 1px;
  }

  .margin_v_#{$i} {
    margin-top: $i * 1px;
    margin-bottom: $i * 1px;
  }
}

@for $i from 0 through 10 {
  .flex_#{$i} {
    flex: $i 0 0%;
  }
}

.page {
  @extend .flex_1;
  @extend .flex_column;
  padding: 0 190px;
}

.with_layout_page {
  overflow: auto;
}

.text_nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
