.email_textfield {
  width: 99% !important;
  margin: 10px 0px !important;
}
/* .MuiOutlinedInput-notchedOutline {
  border-radius: 50px !important;
} */
.button_modal_fermer {
  height: 45px !important;
    border-radius: 50px !important;
    padding: 0 30px !important;
    border: 1px solid #fc5e2e !important;
    color: #fc5e2e !important;
    font-weight: bold !important;
}
.modal_header {
  display: flex;
  align-items: center;
}
.dialogActions {
  padding-right: 30px !important;
}
.modal_header_title {
  color: #301f77;
  font-weight: bold;
}
.modalTitle {
  display: flex;
    justify-content: flex-start !important;
}
