.components_modals_model_select {
  max-width: 830px;
  max-height: 80%;
  box-shadow: 0px 5px 50px 0 rgba(0, 0, 0, 0.66);
  border: solid 1px #9a9a9a;
  background-color: #ffffff;
  overflow-y: auto;
  padding: 39px 49px;
  padding-bottom: 0;
  .model_select_title {
    font-family: Como;
    font-size: 22px;
    font-weight: 800;
    line-height: 1.09;
    color: #301f77;
  }

  .model_select_container {
    min-height: 177px;
    flex-wrap: wrap;
    width: 739px;
  }

  .model_select_model {
    width: 157px;
    height: 157px;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    padding: 5px;
  }

  .model_select_selected_model {
    border: solid 1px #c3beb8;
  }

  .model_select_img {
    width: auto;
    height: auto;
  }

  .model_select_footer {
    justify-content: space-between;
    margin-top: 55px;
    align-items: center;
    width: 100%;
    padding-bottom: 49px;
  }

  .modal_select_close {
    font-family: Como;
    font-size: 18px;
    line-height: 1.33;
    color: #6c6967;
    cursor: pointer;
  }
}
