.components_pickers_color_picker {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: calc(100% + 15px);
  width: 25vw;
  height: auto;
  right: -40px;
  overflow: visible !important;
  &:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    right: 50px;
    top: 100%;
  }
  &:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid rgba(0, 0, 0, 0.2);
    right: 49px;
    top: 100%;
  }
  .badge_modal_colors_container {
    overflow: auto;
    display: flex;
    margin: 9px 4px;
    width: calc(100% - 15px);
  }

  .badge_modal_color_container {
    flex-direction: column;
    display: flex;
  }
  .badge_modal_color {
    height: 25px;
    width: 25px;
    border: solid 1px #818181;
    border-radius: 4px;
    &:last-child {
      margin-right: 0;
    }
    margin: 9px 4px;
  }
}
