.container_account_page {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  .container_account_page_endossement {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    .button_endo {
      background-color: #fc5e2d;
      padding: 0 30px;
      margin: 10px 10px 0px 0px;
    }
  }
  .container_account_page_form_wrapper {
    justify-content: center;
    width: 100%;
    padding: 0px 20px 5%;
    display: flex;
    .container_account_page_form {
      //margin-top: 60px;
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 35px 10%;
      box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.2);
      border-radius: 5px;
      margin-top: 5%;
      .container_account_page_inputs_wrapper {
        // height: 50vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        .form_header_wrapper {
          display: flex;
          align-items: center;
          padding: 20px 0;
          span {
            color: #301f77;
            font-weight: bold;
            padding-left: 10px;
          }
        }
        .container_account_page_input {
          width: 100%;
          margin: 10px 0;
        }
        .errorMessage {
          height: 25px;
          font-size: 14px;
          margin: 5px;
          display: flex;
          /* width: 81%; */
          justify-content: flex-start;
          align-items: center;
          color: red;
        }
      }
      .container_account_page_button {
        width: 180px;
        background-color: #fc5e2d;
      }
    }
  }
  /* .MuiOutlinedInput-notchedOutline {
    border-radius: 50px !important;
  } */
}
