.CondidaterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  .topBlock {
    height: 100px;
    width: 75%;
    font-family: Como;
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: center;
    color: #301f77;
    margin-top: 65px;
    padding: 0px 50px;
    text-align: justify;
    margin-bottom: 20px;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .formBlock {
    border-radius: 7px;
    border: solid 2px #e6e6e6;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    .condition1 {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: self-start;
      margin: 30px 0px 30px 25px;
      .title {
        font-family: Como;
        font-size: 22px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        letter-spacing: normal;
        text-align: center;
        color: #301f77;
      }
      .description {
        font-family: Como;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: left;
        margin: 7px 0px;
        color: #2d2a26;
      }
      .textarea {
        outline: none;
      }
      .inputArea {
        width: 100%;
        border-radius: 4px;
        border: solid 1px #9a9a9a;
        background-color: #ffffff;
        resize: none;
        padding: 8px 0 0 15px;
        font-size: medium;
        margin-top: 10px;
      }
      .inputArea:focus {
        border: solid 1px #9a9a9a;
        outline: none;
        box-shadow: 0 0 4px rgba(48, 31, 119, 0.1);
      }
      .myFileInput {
        display: none;
      }
      .fileWrapper {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }

      .buttonBadges {
        font-family: Como;
        font-size: 18px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.92;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        background-color: #fc5e2d;
        text-transform: none;
        width: 57%;
        display: flex;
        justify-content: space-evenly;
      }
    }
    .horizontalLigne {
      width: 100%;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
  .submitBlock {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px 20px 0px 0px;
    .buttonSubmit {
      font-family: Como;
      font-size: 18px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.92;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      background-color: #fc5e2d;
      text-transform: none;
      width: 37%;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      &:disabled {
        opacity: 0.5;
      }
    }
  }
  .endorsement_checkbox {
    margin-top: 15px;
  }

  .code_input_container {
    margin-top: 15px;
  }
}
