.DetailsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  .topBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    width: 82%;
    .block1 {
      width: 59%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .block1_Title {
        font-family: Como;
        font-size: 28px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: left;
        color: #301f77;
        margin-bottom: 22px;
      }
      .block1_Description {
        font-family: Como;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #2d2a26;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
      }
    }
    .block2 {
      height: 38%;
      width: 32%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .row1 {
        .calendarIcon {
          width: 33.5px;
          height: 38.3px;
          object-fit: contain;
        }
      }
      .row2 {
        display: flex;
        flex-direction: column;
        .block2_Title {
          font-family: Como;
          font-size: 20px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #301f77;
        }
        .block2_Date {
          font-family: Como;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #2d2a26;
        }
        .block2_Description {
          font-family: Como;
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #2d2a26;
        }
      }
    }
  }
  .TitleSecondBlock {
    width: 84%;
    font-family: Como;
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #301f77;
    margin-bottom: 22px;
    margin-top: 22px;
  }
  .SecondBlock {
    width: 79%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 5%;
  }
  .third_block {
    display: flex;
    width: 84%;
    flex-direction: column;
    .endossement_Block {
      position: relative;
      background-color: rgba(1, 150, 186, 0.3);
      width: 45%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: flex-start;
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #00ccd2;
        position: absolute;
        top: 0;
        left: 0;
      }
      .title_endossement {
        font-family: Como;
        font-size: 20px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #301f77;
        padding: 10px 0;
      }
      .name_endossement {
        font-family: Como;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #75888b;
        padding: 10px 0;
      }
      .email_endosseur {
        font-family: Como;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #75888b;
        padding: 10px 0;
        span {
          font-family: Como;
          font-size: 20px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          text-align: left;
          color: #301f77;
        }
      }
      .comment_title {
        font-family: Como;
        font-size: 20px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: #301f77;
        padding: 10px 0;
      }
      .comment_endossement {
        font-family: Como;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-align: left;
        color: #75888b;
        padding: 10px 0;
      }
    }
  }
  .ButtonBlock {
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px 61px 0px;
    .buttonBadges {
      font-family: Como;
      font-size: 18px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.92;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      background-color: #fc5e2d;
      text-transform: none;
      width: 44%;
    }
    .buttonPending {
      font-family: Como;
      font-size: 18px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.92;
      letter-spacing: normal;
      text-align: left;
      color: #301f77;
      font-weight: 800;
      /* background-color: #fc5e2d; */
      text-transform: none;
      width: 44%;
      cursor: none;
      border-width: 2px;
      border-color: #301f77;
    }
    .buttonPending:hover {
      background-color: transparent;
    }
  }
}
.HorizontalLine {
  width: 84%;
  height: 1px;
  background-color: #c3beb8;
}
.back_button {
  display: flex;
  align-items: center;
  font-family: Como;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #6c6967;
  cursor: pointer;
  padding: 25px 0;
  width: 85%;
  &:hover {
    color: #fc5e2d;
  }
}
