$width: 996px;

.containers_create_badge {
  width: 100%;
  padding-top: 63px;
  padding-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .create_badge_contents {
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    width: $width;
  }

  .create_badge_step {
    &:last-child {
      border: none;
    }
  }

  .create_badge_features {
    margin-top: 36px;
    padding-right: 155px;
    padding-bottom: 63px;
  }

  .create_badge_visual {
    margin-top: 52px;
    margin-right: 47px;
    margin-bottom: 52px;
    width: auto;
  }

  .create_badge_criteria {
    padding-top: 42px;
    padding-right: 155px;
    padding-bottom: 51px;
  }

  .create_badge_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $width;
    margin-top: 48px;
  }
  .create_badge_back_button {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    color: #6c6967;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: #fc5e2d;
    }
  }

  .create_badge_back_arrow {
    margin-right: 12px;
  }

  .create_badge_submit_button {
    padding: 17px 45px !important;
    font-size: 22px !important;
    line-height: 1.09 !important;
  }
}
