.container_delivrances_container {
  display: flex;
  padding: 5% 150px;
  flex-direction: column;
  .container_delivrances_container_appBar {
    background-color: white;
    box-shadow: none;
    color: #022459;
  }

  .back_button {
    display: flex;
    align-items: center;
    font-family: Como;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #6c6967;
    cursor: pointer;
    padding: 25px 0;
    &:hover {
      color: #fc5e2d;
    }
  }

  .not_found {
    font-size: 18px;
    padding: 0;
    margin-top: 20px;
    font-weight: bold;
  }
}
.MuiTabs-indicator {
  background-color: #fc5e2d !important;
}
.MuiTab-wrapper {
  font-weight: 800 !important;
}
.ajouter_endossement {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .ButtonAdd {
    background-color: #fc5e2d !important;
    padding: 0 15px !important;
  }
}
.error_email {
  color: red;
}
