.container_delivrances_details {
  display: flex;
  width: 100%;
  padding: 0 180px;
  flex-direction: column;
  .container_delivrances_details_container {
    display: flex;
    width: 100%;
    justify-content: center;
    .container_delivrances_details_container_badge {
      display: flex;
      width: 30%;
      align-items: center;
      img {
        width: 80%;
        margin: 25px 0;
      }
    }

    .container_delivrances_details_container_right {
      display: flex;
      flex-direction: column;
      width: 70%;
      justify-content: center;
      align-items: center;
      .container_delivrances_details_container_title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        .badge_details_title_light {
          display: block;
          font-size: 30px;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #301f77;
        }
        .badge_details_title_bold {
          font-size: 35px;
          font-weight: bolder;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #301f77;
          text-transform: capitalize;
        }
      }
      .badge_details_user_details_wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 35px 0px;
        .badge_details_user_name {
          display: flex;
          flex-direction: column;
          .user_name {
            font-family: Como;
            font-size: 35px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.69;
            letter-spacing: normal;
            text-align: left;
            color: #301f77;
            text-transform: capitalize;
          }
          .user_date_soumission {
            opacity: 0.9;
            font-family: Como;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #2d2a26;
            margin-top: 8px;
          }
        }
        .en_attente {
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding-right: 20px;
          span {
            padding-left: 15px;
            font-family: Como;
            font-size: 18px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #2d2a26;
          }
        }
      }
    }
  }
  .container_delivrances_details_criteres {
    border-radius: 7px;
    border: solid 2px #e6e6e6;
  }
  .container_delivrances_details_validator {
    background-color: rgba(206, 206, 206, 0.5);
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    .checkbox_container {
      padding: 20px 0;
    }
    .container_delivrances_details_validator_buttons {
      display: flex;
      justify-content: space-evenly;
      .button_accept {
        background-color: #00ac70;
        padding: 0 35px;
        margin: 10px 15px 30px 15px;
      }
      .button_refuse {
        background-color: #fc2d2d;
        padding: 0 35px;
        margin: 10px 15px 30px 15px;
      }
    }
  }
  .container_delivrances_details_navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .container_delivrances_details_navigation_demande {
      background-color: white;
      color: #301f77;
      border: 1px solid #301f77;
      padding: 0 25px;
      &:hover {
        background-color: #301f77;
        color: white;
      }
    }
  }
  .button_action_done {
    margin: 40px !important;
    color: #fff !important;
  }
  .endorsement_text {
    margin-top: 20px;
    font-size: 22px;
    color: #301f77;
  }
}
.hr_style {
  border-width: 0;
  border-top: 1px solid #e6e6e6;
  &:last-child {
    border: none;
  }
}
.back_button {
  display: flex;
  align-items: center;
  font-family: Como;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #6c6967;
  cursor: pointer;
  padding: 25px 0;
  &:hover {
    color: #fc5e2d;
  }
}
.endosseur_name {
  width: 100%;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  span {
    font-size: 30px;
    color: #2f1f77;
    font-weight: 600;
    text-transform: capitalize;
   
  }
  p {
    font-weight: 600;
  }
  .commentaire {
    font-size: 16px;
    font-weight: 400;
    padding-left: 25px;
  }
}
.boxShadow {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  padding: 50px 0;
}
.tile_style {
  color: #301f77;
  font-weight: bold;
}
