.inputWrapper_comment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  border-radius: 5px;
  margin: 10px 0px;
  flex-direction: column;
  .ajouter_Comment {
    width: 100%;
    padding: 10px 0;
  }
  .comment_TextField {
    width: 100%;
  }
  .buttonsContainer {
    .button_accept_endossement {
      background-color: #00ac70;
      padding: 0 30px;
      margin: 10px;
    }
    .button_refuse_endossement {
      background-color: #fc2d2d;
      padding: 0 30px;
      margin: 10px;
    }
  }
}
.boxShadowRaduis {
  box-shadow: 0 0 4px rgba(0,0,0, 0.5);
  border-radius: 5px;
  margin: 5% 0;
    padding: 6% 2%;
}
