.FicheContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .topBlock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    width: 82%;
    .block1 {
      width: 59%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .block1_Title {
        font-family: Como;
        font-size: 28px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.86;
        letter-spacing: normal;
        text-align: left;
        color: #301f77;
        margin-bottom: 22px;
      }
      .block1_Description {
        font-family: Como;
        font-size: 18px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #2d2a26;
      }
    }
    .block2 {
      height: 38%;
      width: 32%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .row1 {
        .calendarIcon {
          width: 33.5px;
          height: 38.3px;
          object-fit: contain;
        }
      }
      .row2 {
        display: flex;
        flex-direction: column;
        .block2_Title {
          font-family: Como;
          font-size: 20px;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: left;
          color: #301f77;
        }
        .block2_Date {
          font-family: Como;
          font-size: 18px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #2d2a26;
        }
        .block2_Description {
          font-family: Como;
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.33;
          letter-spacing: normal;
          text-align: left;
          color: #2d2a26;
        }
      }
    }
  }
  .HorizontalLine {
    width: 84%;
    height: 1px;
    background-color: #c3beb8;
  }
  .TitleSecondBlock {
    width: 84%;
    font-family: Como;
    font-size: 22px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #301f77;
    margin-bottom: 22px;
    margin-top: 22px;
  }
  .SecondBlock {
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px 0px 61px 0px;
  }
}
