@font-face {
  font-family: "LemonTuesday";
  src: local("LemonTuesday"),
    url("./fonts/Lemon Tuesday.otf") format("opentype");
}
.containers_forgot {
  background-size: cover;
  .forgot_container {
    width: 45%;
    height: 80%;
    margin: 3% auto 0px auto;
    .forgot_title_wrapper {
      width: 100%;
      margin: auto;
      display: flex;
      cursor: pointer;
      flex-direction: column;
      .forgot_title1 {
        font-family: Como;
        font-size: 62.1px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.85;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
      .forgot_title2 {
        font-family: LemonTuesday;
        font-size: 68.5px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #fc5e2d;
      }
    }
    .forgot_Card {
      width: 80%;
      height: 80%;
      margin: auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 5%;
      margin-top: 13%;
      .title{
        color:#022459;
        font-weight: 600;
      }
    }
    .forgotPswd {
      width: 100%;
      height: 20px;
      font-family: Como;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #fc5e2d;
      text-decoration: underline;
    }
    .registertext {
      font-family: Como;
      font-size: 22px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.09;
      letter-spacing: normal;
      text-align: center;
      color: #301f77;
      margin-bottom: 17px;
    }
    .inputWrapper {
      width: 88.2%;
      height: 45px;
    }
  }
}
