.containers_home {
  // padding: 20px;
  padding-top: 20px;
  .containers_home_welcome {
    .containers_home_image {
      position: absolute;
      width: 85%;
      height: 85%;
      top: 0;
      left: 0;
      z-index: -1;
    }
    .container_home_compte {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      padding-right: 20px;
    }
    .conatiner_home_beside_card {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      height: 50vh;
      //margin: 0 11%;
      justify-content: space-around;
      align-items: center;
    }
    .containers_home_beside_wrapper {
      width: 35%;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      padding: 10px;
      height: 100%;
    }
    .containers_home_title {
      // width: 80%;
      font-family: Como;
      font-size: 28px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #fc5e2d;
    }
    .containers_home_text {
      // width: 80%;
      font-family: Como;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      color: #020645;
    }
    .conatiner_home_logo {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 11%;
    }
    .conatiner_home_round {
      width: 300px;
      height: 300px;
      border: solid 1px #ffffff;
      border-radius: 50%;
      position: absolute;
    }
    .conatiner_home_round_inside {
      width: 280px;
      height: 280px;
      background-color: #ffffff;
      border-radius: 50%;
      h1 {
        // width: 268px;
        height: 30%;
        font-family: Como;
        font-size: 35px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.25;
        letter-spacing: normal;
        text-align: center;
        color: #020645;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      div {
        width: 100%;
        font-family: LemonTuesday;
        font-size: 75px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #fc5e2d;
        position: absolute;
        left: 15%;
        top: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      span {
        position: absolute;
        top: 33%;
        right: 9%;
        font-family: Como;
        font-size: 16px;
        font-weight: bolder;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.25;
        letter-spacing: normal;
        text-align: center;
        color: #01829c;
      }
    }
  }
  .container_home_consult_create {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .container_home_consult {
      width: 40%;
      padding-top: 5%;
      background: white;
      padding-left: 30px;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .container_home_consult_title {
        width: 80%;
        font-family: Como;
        font-size: 38px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: normal;
        text-align: left;
        color: #fc5e2d;
        display: block;
      }
      .container_home_consult_text {
        width: 80%;
        font-family: Como;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #2d2a26;
      }
    }
    .container_home_create {
      width: 40%;
      padding-top: 10%;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .container_home_create_title {
        font-family: Como;
        font-size: 38px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        color: #020645;
        display: block;
      }
      .container_home_create_text {
        width: 80%;
        display: flex;
        font-family: Como;
        font-size: 18px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.44;
        letter-spacing: normal;
        text-align: left;
        color: #2d2a26;
        padding-bottom: 20px;
      }
    }
  }
  .container_home_latest_badges {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.home_container_consult_button {
  background-color: #fc5e2d !important;
  width: 50%;
}
.home_container_create_button {
  background-color: #020645 !important;
  width: 50%;
}
.container_home_account_button {
  background-color: #fc5e2d !important;
  width: 15%;
}
.container_home_categorie_button {
  background-color: #01ccd2 !important;
  width: 75%;
}
.container_home_categorie_button2 {
  background-color: #18aea9 !important;
  width: 75%;
}

.container_home_footer_container {
  width: 100%;
  height: 40vh;
  background-image: linear-gradient(to right, #020645, #014c73);
  margin-top: 5%;
  .container_home_footer_icons_bande {
    width: 100%;
  }
  .container_home_footer_container_icons {
    height: 35%;
  }
  .container_home_footer_row {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 60%;
    .container_home_footer_title {
      width: 50%;
      font-family: Como;
      font-size: 25px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #fc5e2d;
      padding: 0 10%;
    }
    .container_home_footer_text {
      width: 50%;
      display: flex;
      flex-wrap: wrap;
      font-family: Como;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
    }
  }
}
