.containers_login_login {
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  .login_container_login {
    display: flex;
    margin-top: 78px;
    margin-bottom: 70px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .login_title_wrapper_login {
      display: flex;
      flex-direction: column;
      width: 100%;
      .login_title_login {
        font-family: Barlow;
        font-size: 22px;
        font-weight: 600;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.26px;
        text-align: left;
        color: #ed1e79;
      }
    }
    .loginCard_login {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: flex-start;
      padding-top: 10px !important;
      position: relative;
      margin-top: 80px;
      .container_rester_connecter {
        margin-bottom: 140px;
        span {
          font-family: Maven Pro;
          font-size: 14px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }
      }
      .creation_conpte_container {
        margin-top: 43px;
        margin-bottom: 43px;
        a {
          font-family: Maven Pro;
          font-size: 20px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }
      }
      .forgetPassword_container {
        a {
          font-family: Maven Pro;
          font-size: 20px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
        }
      }
    }
    .forgotPswdLogin {
      font-family: 'Maven Pro', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #ed1e79;
    }
    .registertext {
      font-family: 'Maven Pro', sans-serif;
      font-size: 22px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.09;
      letter-spacing: normal;
      text-align: center;
      color: #301f77;
      margin-bottom: 17px;
    }
    .errorMessage {
      height: 3px;
      font-size: 14px;
      margin: 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: red;
    }

    .inputWrapperLogin {
      width: 88.2%;
      margin: 17px 0px;
    }
    .label-input {
      font-family: 'Maven Pro';
      font-size: 14px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      margin-bottom: 18px;
    }
    .checkboxWrapper {
      width: 88.2%;
      height: 10.3%;
    }
  }
  .login_loader {
    position: absolute;
    right: 20px;
    color: #fc5e2d;
  }
}
