.container_marketPlace {
  width: 100%;
  display: flex;
  //position: relative;
  justify-content: flex-end;
  .container_marketPlace_left {
    width: 18%;
    top: 35%;
    z-index: 99999;
    position: absolute;
    left: 2%;
    .container_marketPlace_left_filter_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10%;
      background: white;

      .container_marketPlace_left_filter_container_title {
        font-size: 24px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #301f77;
        width: 70%;
        padding: 15% 0 5%;
        display: flex;
        justify-content: center;
      }

      .container_marketPlace_left_filter_container_arrow {
        display: flex;
        align-items: center;
        &:hover {
          color: #fc5e2d;
        }
        .container_marketPlace_left_filter_container_name {
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.94;
          letter-spacing: normal;
          text-align: center;
          color: #301f77;
          text-transform: capitalize;
          cursor: pointer;
          &:hover {
              font-weight: 900;
              
            }
        }
        .arrow_marketplace {
          color: rgba(44, 44, 44, 0.2);
          cursor: pointer;
        }
      }
    }
  }
  .container_marketPlace_right {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    .container_marketPlace_right_badges_container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
