.profile_container {
  padding-bottom: 106px;
  .profile_content {
    flex-wrap: wrap;
    padding: 0 86px;
    justify-content: space-between;
  }

  .title_container {
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 72px;
  }

  .title {
    color: #301f77;
    font-size: 25px;
    line-height: 0.96;
    height: 30px;
    text-align: center;
    padding: 0;
  }

  .title_hr {
    background-color: #fc5e2d;
    margin: 0;
    margin-top: 15px;
  }

  .badge_container {
    width: 50%;
    padding: 14.5px 19.5px;
  }
}

.visibility_modal {
  width: 650px;
  height: 400px;
  background-color: #fff;
  border-radius: 4px;
  padding: 23px 60px;

  .modal_title {
    text-align: center;
    margin: 0;
    font-weight: bold;
    position: relative;
  }

  .border {
    position: absolute;
    left: -60px;
    right: -60px;
    border-bottom: 1px solid #eeeeee;
    bottom: -20px;
  }

  .modal_content {
    justify-content: space-between;
    align-items: center;
  }

  .modal_image {
    height: auto;
    width: 80%;
    max-height: 80%;
  }

  .content_part {
    width: calc(50% - 20px);
  }

  .footer {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .close {
    font-family: Como;
    font-size: 18px;
    line-height: 1.33;
    color: #6c6967;
    cursor: pointer;
  }
}
