@font-face {
  font-family: 'LemonTuesday';
  src: local('LemonTuesday'),
    url('./fonts/Lemon Tuesday.otf') format('opentype');
}
.containers_login {
  background-size: cover;
  .login_container {
    width: 45%;
    margin: 3% auto 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    .login_title_wrapper {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      margin-bottom: 3%;
      .login_title1 {
        font-family: Barlow;
        font-size: 22px;
        font-weight: 600;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.26px;
        text-align: left;
        color: #ed1e79 !important
      }
      .login_title2 {
        font-family: LemonTuesday;
        font-size: 68.5px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        text-align: center;
        color: #fc5e2d;
      }
    }
    .login_Card {
      width: 80%;
      height: 80%;
      margin: auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2%;
      .title1 {
        color: #022459;
        font-weight: 600;
        padding-bottom: 3px;
      }
      .title2 {
        text-align: center;
      }
    }
    .forgotPswd {
      width: 160px;
      height: 20px;
      font-family: 'Maven Pro', sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #fc5e2d;
    }
    .registertext {
      font-family: 'Maven Pro', sans-serif;

      font-size: 22px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.09;
      letter-spacing: normal;
      text-align: center;
      color: #301f77;
      margin-bottom: 17px;
    }
    .errorMessage {
      height: 3px;
      font-size: 14px;
      margin: 5px;
      display: flex;
      margin-top: 10px;

      /* width: 81%; */
      justify-content: flex-start;
      align-items: center;
      color: red;
    }
    .ignoreTransform {
      transform: none;
    }
    .inputWrapper {
      width: 88.2%;
      height: 10.3%;
    }
    .checkboxWrapper {
      width: 88.2%;
      height: 10.3%;
    }
  }
}
