.containers_root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .appbar_root_confirm {
    color: #fff;
    background-color: #fc5e2d;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .renvoyer_button_root {
      padding: 0 30px;
      background-color: #e43600;
      height: 50%;
    }
  }
}

.container_anywhere_icon_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.award_button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .button_award_reciptient {
    padding: 0 30px !important;
    background-color: #fc5e2d !important;
    color: white;
    text-transform: capitalize;
    &:hover {
      background-color: #af2d06 !important;
    }
  }
}
