.container_my_badges {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 52px 125px;
  .header_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    .text {
      font-family: Como;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #301f77;
    }
    .link_marketplace {
      font-family: Como;
      font-size: 18px;
      font-weight: 800;
      line-height: 1.33;
      color: #fc5e2d;
      display: flex;
      cursor: pointer;
      margin-top: 20px;
    }
  }
  .container_my_badges_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 45px;
  }

  .badge_circle_container {
    width: 33%;
    padding-bottom: 34px;
  }

  .badge_circle {
    width: 322px;
    height: 322px;
    cursor: pointer;
  }
}
/* .email_textfield {
  .MuiOutlinedInput-notchedOutline {
    border-radius: 50px !important;
  }
} */
