.components_ui_doropdown {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: scaleY(0);
  transform-origin: top;
  .doropdown_content {
    width: 100%;
    overflow: auto;
  }
}
