$icon_size: 41px;

.components_ui_icon {
  width: 73px;
  height: 66px;
  border-radius: 4px;

  .icon_container {
    height: $icon_size;
    width: $icon_size;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
}

.components_ui_icon_selected {
  background-color: #0196ba;
}
