.container_footerLogo {
  width: 100%;
  .container_footerLogo_contents {
    display: flex;
    height: 202px;
    border-top: 1px solid #4d4d4d;
    span {
      font-family: 'Maven Pro';
      font-size: 13px;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.85;
      letter-spacing: normal;
      text-align: left;
      color: #4d4d4d;
      opacity: 0.8;
    }
    .container_footerLogo_contents_left {
      width: 50%;
      display: flex;
      justify-content: center;
      margin-top: 32px;
      .contents_left_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .copy-diva{
            margin-top: 34px;
        }
      }
    }
    .container_footerLogo_contents_right {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      margin-top: 32px;
      .contents_right_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .contents_right_img {
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-top: 25px;

          .img1 {
            width: 77px;
            height: 98px;
          }
          .img2 {
            width: 97px;
            height: 96px;
          }
          .img3 {
            width: 139px;
            height: 54px;
          }
          .img4 {
            width: 168px;
            height: 50px;
          }
        }
      }
    }
  }
}
