.container_footer {
  width: 100%;
  &::before {
    content: "";
    width: 90%;
    height: 1px;
    background: #e4e4e4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .container_footer_contents {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    span {
      font-family: Como;
      font-size: 13px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.85;
      letter-spacing: normal;
      text-align: left;
      color: #2d2a26;
      opacity: 0.8;
    }
    .container_footer_contents_left {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
    }
    .container_footer_contents_right {
      opacity: 0.4;
    }
  }
}
