.container_header {
  width: 100%;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #666;
}
.btnCobtainer{
  position: absolute;
  right: 30px;
}