.components_buttons_submit_button {
  color: #fff !important;
  background-color: #fc5e2d !important;
  font-size: 18px !important;
  font-weight: 800 !important;
  line-height: 1.33 !important;
  padding: 12px 27px !important;
  border-radius: 30px !important;
  text-transform: none !important;
  &:disabled {
    opacity: 0.5;
  }
}
